.serachCardEnclosure {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 8px;
}

.serachCardEnclosure img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.serachCardEnclosure{
    cursor: pointer;
}